{% if version %}[{{ version }}](https://github.com/DonalChilde/pfmsoft-trips/compare/_previous_version_tag_...{{ version }}) — {% endif %} {{ date.strftime('%Y-%m-%d') }}

### Whats Changed in {{ version }}

Talk about the changes in general
