<!--
A new scriv changelog fragment.

Uncomment the section that is right (remove the HTML comment wrapper).

pull request link [#_num_](https://github.com/DonalChilde/pfmsoft-trips/pull/_num_)
issue link [#_num_](https://github.com/DonalChilde/pfmsoft-trips/issues/_num_)
-->

{% for cat in config.categories -%}
<!--

### {{ cat }}


- __issue_or_PR_description__[#_num_](https://github.com/DonalChilde/pfmsoft-trips/pull/_num_)
  - closes
    - __desc__[#_num_](https://github.com/DonalChilde/pfmsoft-trips/issues/_num_)

-->
{% endfor -%}
